<!DOCTYPE html>
<html lang="en">

<head>
    <title>輿情分析系統</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">

            <!-- Here insert the navigation bar -->
            {%include 'navbar.html'%}

            <div class="col-lg-12">

                <h1>日本熱門旅遊地區、景點</h1>
                <p>資料來源:PTT日本旅遊版(標題為[遊記]之文章)</p>
                <p>資料期間:2024/01/01-2024/05/31</p>
            </div>

            <!-- column col-lg-6 card -->
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">資料顯示</h3>
                    </div>

                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">類別</label>
                            <div class="col-md-9">
                                <label class="radio-inline"><input type="radio" value="地區" name="cateradio"
                                        checked>熱門旅遊地區</label>
                                <label class="radio-inline"><input type="radio" value="景點" name="cateradio">熱門旅遊景點</label>
                            </div>
                        </div>
                        <!--form group-->


                        <!-- Number of persons form group -->
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">多少個熱門詞?</label>
                            <div class="col-md-9">
                                <label class="radio-inline"><input type="radio" value="5" name="topkradio">5</label>
                                <label class="radio-inline"><input type="radio" value="10" name="topkradio"
                                        checked>10</label>
                                <label class="radio-inline"><input type="radio" value="15" name="topkradio">15</label>
                                <label class="radio-inline"><input type="radio" value="20" name="topkradio">20</label>
                                <label class="radio-inline"><input type="radio" value="30" name="topkradio">30</label>
                                <small class="form-text text-muted">內定值為10</small>
                            </div>
                        </div>
                        <!--form group-->

                    </div>
                    <!--card body-->
                </div>
                <!--card -->
            </div><!-- column -->


            <!-- draw cloud chart -->
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字雲圖</h3>
                    </div>
                    <div class="card-body">
                        <div id="cloud"></div>
                    </div>
                </div>
            </div><!-- column -->


            <!-- 繪圖區塊-->
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字繪圖</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="mychart"></canvas>
                    </div>
                </div>
            </div><!-- column -->


            <!-- 熱門關鍵字區塊-->
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字(頻率次數)</h3>
                    </div>
                    <div class="card-body">

                        <ul id="topkeys"></ul>

                    </div>
                </div>
            </div><!-- column -->


        </div> <!-- row -->
    </div> <!-- container -->

</body>

</html>

<!-- jQuery js-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- chartjs js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://cdn.rawgit.com/jasondavies/d3-cloud/v1.2.1/build/d3.layout.cloud.js"></script>


<!-- Your JavaScript Codes -->
<script>
    // Show the default chart when page is initialized.
    call_ajax();

    $("input[name='cateradio']").on('change', function () {
        call_ajax();
    }); //event function

    $("input[name='topkradio']").on('change', function () {
        call_ajax();
    }); //event function

    // Here is the Ajax function to draw chart
    function call_ajax() {

        const cate = $("input[name='cateradio']:checked").val();
        const topk = $("input[name='topkradio']:checked").val();

        $.ajax({
            type: "POST", //or GET
            url: "http://127.0.0.1:8000/topgpe/api_get_topgpe/",
            data: {
                "news_category": cate,
                "topk": topk
            },
            success: function (received) {
                let chart_data = received.chart_data;
                let wf_pairs = received.wf_pairs;

                showChart(chart_data);
                showTopKeys(wf_pairs);

                // Parse top keywords for cloud chart
                let topWordToDraw = wf_pairs.map(pair => ({
                    'text': pair[0],
                    'size': pair[1]
                }));
        
                // Draw word cloud
                drawCloud(topWordToDraw, "#cloud");
                console.log("topWordToDraw:", topWordToDraw);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error(`AJAX 錯誤: ${textStatus}`, errorThrown);
            }
        });
    }; //call_ajax


    //** cloud chart
    function drawCloud(topWordToDraw, element_id) {
        $('#cloud').empty();

        // 固定宽度和高度
        const width = 1000;
        const height = 500;

        // 首先定义词云数据，使用 `text` 和 `size` 属性
        // 接下来使用布局脚本计算每个单词的位置、旋转和大小
        // 构造一个新的词云布局实例
        let layout = d3.layout.cloud()
            .size([width, height])
            .words(topWordToDraw)
            .rotate(() => 0) // 设置旋转为 0 度
            .font("Impact")
            .fontSize((d) => {
                // 计算适当的字体大小，使词云在固定尺寸内自动调整大小
                let minFontSize = 10; // 最小字体大小
                let maxFontSize = 100; // 最大字体大小
                let fontSizeRange = maxFontSize - minFontSize;
                let maxFrequency = Math.max(...topWordToDraw.map(word => word.size));
                let frequencyFactor = d.size / maxFrequency;
                return minFontSize + (frequencyFactor * fontSizeRange);
            })
            .on("end", draw) // 在布局结束后调用 draw 函数绘制词云
            .start();

        // 实现 `draw` 函数，用于执行 D3 绘制
        function draw(words) {
            const fill = d3.scale.category20();

            // 将 SVG 对象附加到页面的元素中
            d3.select(element_id).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", (d) => d.size + "px")
                .style("font-family", "Impact")
                .style("fill", (d, i) => fill(i))
                .attr("text-anchor", "middle")
                .attr("transform", (d) => `translate(${d.x},${d.y})rotate(${d.rotate})`)
                .text((d) => d.text);
        }
    }


    //* 顯示關鍵詞資料函數
    function showTopKeys(items) {
        $('#topkeys').empty();
        for (let i = 0; i < items.length; i++) {
            let item_li = "<li>" + items[i] + "</li>";
            $('#topkeys').append(item_li);
        }
    } //function

    //**繪圖函數showChart()
    function showChart(chart_data) {

        let values = chart_data.values;
        let labels = chart_data.labels;
        let category = chart_data.category;

        let data = {
            labels: labels,
            datasets: [{
                label: category,
                data: values,
                backgroundColor: randomColors(values.length),
                borderColor: randomColors(values.length),
                borderWidth: 1,
            }],
        };

        let options = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        };

        let canvas_mychrat = document.getElementById("mychart");

        if (window.barchart) {
            barchart.destroy();
        }

        barchart = new Chart(canvas_mychrat, {
            type: 'bar',
            data: data,
            options: options,
        });


        function randomColors(num_colors) {
            let colors = [];

            for (i = 0; i < num_colors; i++) {

                let r = Math.floor(Math.random() * 255);
                let g = Math.floor(Math.random() * 255);
                let b = Math.floor(Math.random() * 255);
                let rgb = `rgba(${r},${g},${b},0.5)`

                colors.push(rgb);
            }
            return colors;
        }
    } //show chart function
</script>